:root {
    --bg-color: #29060A;
    --bg-color-secondary: #632028;
    --font-color: #CEADDA;
    --highlight: #E0B364;
}

@font-face {
    font-family: ostrich-sans;
    src: url(./fonts/ostrich-sans//ostrich-regular.ttf) ;
}
@font-face {
    font-family: ostrich-sans-bold;
    src: url(./fonts/ostrich-sans//OstrichSans-Bold.otf);
}

html {
    background-color: var(--bg-color);
    background: linear-gradient(var(--bg-color-secondary) 1%, var(--bg-color) 100%);
    min-height: 100%;
    color: var(--highlight);
    font-family: 'Courier New', Courier, monospace;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

header>h1 {
    margin: auto;
    width: auto;
    font-size: 4em;
    font-weight: lighter;
    font-family: ostrich-sans-bold;
}

footer {
    background: black;
    width: 100%;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 8px;
    line-height: 1.4em;
}

button {
    font-size: 1.4em;
    ;
    background-color: var(--highlight);
}

spacer {
    margin: 20px;
}

textarea {
    background-color: black;
    padding: 10px;
    word-spacing: 0.15em;
}

.two-columns {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: top;
}

.two-columns>.col {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.eschaton-text {
    font-family: ostrich-sans;
    font-size: 3em;
    color: var(--font-color);
}

a {
    color: white;
}

a:visited {
    color: lightgray;
}
